.slider{
    width: 450px;
    transition: all 1s ease-in-out;
}
.z-index-3{
    z-index: 3;
}
.button{
    border: solid 1px white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}
